*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    border-bottom: 1px solid #4A4242;
    padding: 10px 50px 10px 50px;
}

.flecha{
    text-align: center;
    display: block;
    width: 25px;
    padding: 2px 6px 2px 6px;
    color: #E06110;
    text-decoration: none;
    border: 1px solid #4A4242;
    border-radius: 5px;
    
}

.flecha:hover{
   width: 30px;
   transition: 0.3s;
}

.g{
    width: 20px;
    height: 20px;
}
